.item-content__map{
     position: absolute;
     background-color: white;
     padding:5px 35px 10px 5px;
     width:100%;
     height: 400px;
     top:0;
     left:0;
}
.none{
    display:none
}

.leaflet-control-container{
    width:100%;
    height: 400px;
}

.btn-close{
    border:none;
    position: absolute;
    background: none;
    top:0;
    right:0;
}